a{
    float: left;
    color: indigo;
} 
#counter{
    float: right;
}
body{
    text-align: center;
}
#correct{
    color: gray;
}
h1{
    font-weight: 1000;
}
#initials{
    visibility: hidden;
}
li{
    list-style: none;
}
section{
    padding-top: 10%;
    margin: auto;
    max-width: 50%;

}
button{
    color: white;
    background: indigo;
}
